rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/{document=**} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null
          && request.auth.uid == userId
          && request.resource.data.uid == userId;
      allow update: if request.auth != null
          && request.auth.uid == userId
          && resource.data.uid == userId
          && request.resource.data.uid == userId;
      allow delete: if request.auth != null
          && request.auth.uid == userId
          && resource.data.uid == userId;
    }
    
    match /userInfo/{userId}/{document=**} {
      allow read: if request.auth != null;
      allow create: if request.auth != null
          && request.auth.uid == userId
          && request.resource.data.id == userId;
      allow update: if request.auth != null
          && request.auth.uid == userId
          && resource.data.id == userId
          && request.resource.data.id == userId;
      allow delete: if request.auth != null
          && request.auth.uid == userId
          && resource.data.id == userId;
    }
    
    match /personalExpense/{userId}/{document=**} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null
          && request.auth.uid == userId
          && request.resource.data.uid == userId;
      allow update: if request.auth != null
          && request.auth.uid == userId
          && resource.data.uid == userId
          && request.resource.data.uid == userId;
      allow delete: if request.auth != null
          && request.auth.uid == userId
          && resource.data.uid == userId;
    }

    match /invites/{document=**} {
      allow read: if request.auth != null && 
        (resource.data.ownerUid == request.auth.uid || resource.data.inviteeUid == request.auth.uid);
      allow create: if request.auth != null && request.resource.data.ownerUid == request.auth.uid;
      allow update: if request.auth != null && 
        (resource.data.ownerUid == request.auth.uid || resource.data.inviteeUid == request.auth.uid);
      allow delete: if request.auth != null && 
        (resource.data.ownerUid == request.auth.uid || resource.data.inviteeUid == request.auth.uid);
    }

    match /sharedExpense/{userId}/{document=**} {
      allow read: if request.auth != null && (
        request.auth.uid == userId ||
        exists(/databases/$(database)/documents/invites/$(request.auth.uid + "_" + userId)) ||
        get(/databases/$(database)/documents/userInfo/$(request.auth.uid)).data.id == request.auth.uid
      );
      
      allow create, update, delete: if request.auth != null && (
        request.auth.uid == userId ||
        request.auth.uid != null
      );
    }

    match /chat/{conversationId}/{document=**} {
      allow read, write: if request.auth != null && conversationId.matches('.*' + request.auth.uid + '.*');
    }
  }
}
